

@{
    Layout = null;
}

<!DOCTYPE html>
<html>



<!-- Head -->
<head>

    <title>Gaming Gate Studios</title>

    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Trigger Coming soon Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps -->
    <!-- Style -->
    <link rel="stylesheet" href="~/Content/Soon/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/Soon/style.css" type="text/css" media="all">
    <!-- //Style -->
    <!-- Fonts -->
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat:400,700' type="text/css" media="all">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' type="text/css" media="all">
    <!-- Fonts -->
    <!-- Font-Awesome-Icons-File -->
    <link rel="stylesheet" href="~/fonts/fontawesome-webfont.ttf" type="text/css" media="all">
    <!-- //Font-Awesome-Icons-File -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet" type='text/css'>

    <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <style>
        .test {
            color: white;
            display: table;
            margin-right: auto;
            margin-left: auto;
        }

            .test:hover {
                color: black;
            }

        .div {
            display: table;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
</head>
<!-- //Head -->
<!-- Body -->
<body>
    <div class="banner-info">

        <div class="wrapper agileinfo">

            <div class="w3-border-bottom">

            </div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <div class="newsletter agile div">
                <h2><a href="mailto:info@mediagatestudios.com" class="test">info@mediagatestudios.com</a></h2>
            </div>
            <h1 style="color:white;">Coming Soon</h1>
            <div class="social wthree">
                <ul class="social-icons agileinfo">
                    <li><a href="#" class="facebook w3ls" title="Go to Our Facebook Page"><i class="fa w3ls fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter w3l" title="Go to Our Twitter Account"><i class="fa w3l fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="googleplus w3" title="Go to Our Google Plus Account"><i class="fa w3 fa-google-plus-square" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="instagram wthree" title="Go to Our Instagram Account"><i class="fa wthree fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="youtube w3layouts" title="Go to Our Youtube Channel"><i class="fa w3layouts fa-youtube-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>

        <div class="footer">
        </div>
    </div>
    <!-- Custom-JavaScript-File-Links -->
    <script type="text/javascript" src="~/Scripts/Soon/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Soon/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/Soon/moment-timezone-with-data.js"></script>
    <!-- //Custom-JavaScript-File-Links -->

</body>
<!-- //Body -->

</html>

