
@{
    ViewBag.Title = "Compagin";
    Layout = "~/Areas/Operators/Views/Shared/_Layout.cshtml";
}
<div style="width:800px; margin:0 auto;">
    <h2>Compagin</h2>
    @using (Html.BeginForm("", "", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>AD</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Compagin Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input id="Text1" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    </div>

